#list{
    display:flex;
    flex-direction: row;
  ;
    text-align:center;
    
}
#top{
    background-color: gray;
    position:fixed;
    width: 100%;
    max-width: 100vw;
    z-index: 1000;
    

}
.orange{
    color:rgb(9, 124, 124);
    padding-left: 230px;
    cursor:pointer;
}
body{
    background-color:rgb(162, 185, 185);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-align:center;
    font-size:50px;
}
#nothing{
    color:white;
}
#just{
    background-color:aqua;
    text-align: center;
    background-color: black;
    color:red;
    cursor:pointer;
}
#just:hover{
    background-color: aqua;
}
#pics{
    position:relative;  left:1700px;
    border-radius:50%; height:150px; width:150px;
    border:100%;
}
#try{
    background-image:url(../Images/tech.png);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
}
.ok{
    color:gray;
    text-decoration-color: black;
}
.intro{
    font-size:400%;
    font-weight: bolder;
    color: grey
}
.vision{
    font-size: large;
    color: rgb(9, 124, 124);
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    line-height: 1.6; /* Adjusts spacing between lines for readability */
    
}
#robot{
    border-radius: 50%;
    float: right; /* Image on the left */
    margin: 10px; /* Space around the image */
}
#noline{
    text-decoration-line: none;
    color: rgb(9, 124, 124);
}
#robots{
    border-radius: 50%;
    float: left; /* Image on the left */
    margin: 10px; /* Space around the image */
}